---
import AboutHero from '../components/AboutHero.astro';
import Kate from '../components/Kate.astro';
import Zola from '../components/Zola.astro';
import Experience from '../components/Experience.astro';
import WhySass from '../components/WhySass.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About us">
	<main class="space-y-40 mb-40">
		<AboutHero/>
		<Kate/>
		<Zola/>
        <Experience/>
        <WhySass/>
	</main>
</Layout>