---
import LaunchHero from '../components/LaunchHero.astro';
import LaunchQuick from '../components/LaunchQuick.astro';
import LaunchFull from '../components/LaunchFull.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="Docs launch coaching">
	<main class="space-y-40 mb-40">
		<LaunchHero/>
		<LaunchQuick/>
        <LaunchFull/>
		<CallToAction/>
	</main>
</Layout>