---
import ServicesHeroSection from '../components/ServicesHeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services | knowledge with sass">
	<main class="space-y-40 mb-40">
		<ServicesHeroSection/>
	</main>
</Layout>