---
import Container from "./Container.astro";
---

<div id="experience">
    <Container>
        <img
        src="/images/icons/expertise.png"
        class="w-12"
        width="512"
        height="512"
        alt="woman with stars around her head illustration"
        />

    <div>
        <h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
            Knowledge management experience
        </h2>
        <p class="text-gray-600 dark:text-gray-300 mt-8">
            My knowledge management experience is just as varied as my background. I have:
        </p>
        <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
            <div class="md:w-1/2 lg:w-1/2">
                <div
                    class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                >
                    <div class="mt-8 pb-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-rose-300">
                                Migrated docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've migrated several knowledge bases/wikis to new platforms, including requirements gathering, tool evaluation, selection, and procurement.
                            </p>
                        </div>
                    </div>
                    <div class="py-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">
                                Audited & reorganized docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've audited and completely redesigned information architecture for both internal and external knowledge bases.
                            </p>
                        </div>
                    </div>
                    <div class="py-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-fuchsia-300">
                                Launched docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've implemented the first formal knowledge base/technical documentation for several teams.
                            </p>
                        </div>
                    </div>
                    <div class="py-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-teal-300">
                                Evolved docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've transitioned existing knowledge bases from how-to/transactional docs to a more balanced mix of how-to, conceptual, and tutorial documentation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 lg:w-1/2">
                <div
                class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
            >
                    <div class="mt-8 pb-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-orange-300">
                                Trained on docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've trained coworkers and managers on new knowledge management tools, style guides, writing, and processes.
                            </p>
                        </div>
                    </div>
                    <div class="py-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-emerald-300">
                                Revived docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've revived several stagnant knowledge bases, most for internal policies and procedures, getting much higher content contribution and usage.
                            </p>
                        </div>
                    </div>
                    <div class="py-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-sky-300">
                                Strategized docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've created holistic content strategies so that support and marketing materials complemented and cross-referenced each other.
                            </p>
                        </div>
                    </div>
                    <div class="py-4 flex gap-4 md:items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-amber-300">
                                Advised on docs
                            </h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                I've advised customers on roll-out, buy-in, information architecture, and knowledge management best practices.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="pt-40">
            <img
            src="/images/icons/writing-tool.png"
            class="w-12"
            width="512"
            height="512"
            alt="hand writing with a calligraphy pen illustration"
            />
            <h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
                Writing experience
            </h2>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                I've worked on these types of documentation:
            </p>
            <div
            class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
        >
                <div class="md:w-1/2 lg:w-1/2">
                    <div
                        class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                    >
                            <div class="mt-8 pb-4 flex gap-4 md:items-center">
                                <div>
                                    <h3
                                        class="font-semibold text-lg text-gray-700 dark:text-rose-300"
                                    >
                                        Customer docs
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        I've written customer-facing software support documentation, including how-to, conceptual overviews, tutorials, and orientation materials.
                                    </p>
                                </div>
                                </div>
                                <div class="py-4 flex gap-4 md:items-center">
                                    <div>
                                        <h3
                                            class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
                                        >
                                            Internal docs
                                        </h3>
                                        <p class="text-gray-500 dark:text-gray-400">
                                            I've written internal policy and procedure documentation, including detailed how-tos and more general company policies.
                                        </p>
                                    </div>
                                </div>
                                <div class="py-4 flex gap-4 md:items-center">
                                    <div>
                                        <h3
                                            class="font-semibold text-lg text-gray-700 dark:text-fuchsia-300"
                                        >
                                            Training docs
                                        </h3>
                                        <p class="text-gray-500 dark:text-gray-400">
                                            I've created training and onboarding materials, guides, and videos to match user personas of varying technical backgrounds and skills.
                                        </p>
                                    </div>
                                </div>
                                <div class="py-4 flex gap-4 md:items-center">
                                    <div>
                                        <h3
                                            class="font-semibold text-lg text-gray-700 dark:text-teal-300"
                                        >
                                            Software docs
                                        </h3>
                                        <p class="text-gray-500 dark:text-gray-400">
                                            I've created and developed changelogs, release notes, and product newsletters where none previously existed.
                                        </p>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="md:w-1/2 lg:w-1/2">
                    <div
                    class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                >
                        <div class="mt-8 pb-4 flex gap-4 md:items-center">
                            <div>
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-orange-300"
                                >
                                    Software micro-copy
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    As a product manager, I've written and revised software copy, including app labels and text, micro-copy, and tooltips.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div>
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-emerald-300"
                                >
                                    API docs
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    I've updated existing API documentation using the OpenAPI specification and Redoc.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div>
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-sky-300"
                                >
                                    Marketing docs
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    I've managed UX designer relationships to rebrand and overhaul marketing websites and written blog posts.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div>
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-amber-300"
                                >
                                    Finessed docs
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    I've helped standardize existing documentation for format, style, and structure, both as an employee and a freelance writer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>