---
import Container from "./Container.astro"

---

<div id="approach">
  <Container>
    <!--<div class="md:w-2/3 lg:w-2/3"> -->
    <div class="lg:w-2/3 mx-auto">
        <img
        src="/images/icons/target.png"
        class="w-12 fill-white"
        width="512"
        height="512"
        alt="checklist with target illustration"
      />
      <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
      </svg> -->

        <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
            My coaching approach
        </h2>
        <p class="text-gray-600 dark:text-gray-300">
            Knowledge management is usually driven by a need for documentation. 
            We create documentation as a way to streamline processes or share knowledge. 
            But while this approach is driven by real need, it can be motivated by a "let's put the fire out" or "please stop asking me the same question" vibe. 
            This ad hoc style may lead you to totally reorganizing or changing your approach 
            within a year or two, once you learn more.
        </p>
        <p class="text-gray-600 dark:text-gray-300 mt-8">
            My goal with coaching is to shift this improvised approach into 
            a more intentional and thoughtful one. I leverage my own learning and failures 
            to help you do better from the beginning, so that you can build a solid documentation site 
            with just enough processes to keep things humming along smoothly.
        </p>
        <p class="text-gray-600 dark:text-gray-300 mt-8">
            I offer two types of coaching (Quick and Full) to help align what I can do with what you need. Choose from these four categories of coaching:
        </p>
    </div>

    <!--<div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/images/icons/light-bulb.png"
            class="w-12"
            width="512"
            height="512"
            alt="light bulb illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-primary group-hover:dark:text-sky-300"
            >
              New docs project
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                You're creating a new knowledge base, maybe replacing old Word Docs/PDFs/emails, maybe starting from scratch. It's exciting but also a bit overwhelming: you know you're forgetting things or have a nagging feeling like you don't know the right questions to ask. Let me put those fears to rest and get you started out right!
            </p>
          </div>
          <a href="/new-kb" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Learn more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="./images/icons/frankenstein.png"
            class="w-12"
            width="512"
            height="512"
            alt="frankenstein illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-primary group-hover:dark:text-sky-300"
            >
              Knowledge revamp
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                Already have some documentation, but not loving it? Maybe it's become a monster, or it's wildly outdated, or you inherited it from someone else and you're just not sure where to begin. Let me make sure your project isn't just a flash in the pan and can survive the test of time. Let's reel it back in, refocus, redefine, and morph those docs into shape!
            </p>
          </div>
          <a href="/revamp" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Learn more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="./images/icons/startup.png"
            class="w-12"
            width="512"
            height="512"
            alt="rocket launch illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-primary group-hover:dark:text-sky-300"
            >
              Documentation launch
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                Documentation sites aren't like Field of Dreams: just creating one and adding some content doesn't guarantee success. Let me help you get buy-in from within your organization, get others involved, communicate things out, and launch successfully rather than crashing in a fiery explosion of doom.
            </p>
          </div>
          <a href="/launch" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Learn more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8"
        >
          <img
            src="./images/ko-linus-only.png"
            class="w-12"
            width="512"
            height="512"
            alt="KnowledgeOwl logo"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-primary group-hover:dark:text-sky-300"
            >
              KnowledgeOwl docs
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                I've worked with <a href="https://www.knowledgeowl.com/" target="_blank" title="Go to KnowledgeOwl's site" class="group-hover:text-secondary">KnowledgeOwl</a> for 6+ years. I know the product better than anyone other than the founders. If you're considering choosing KnowledgeOwl or have already chosen it as your tool of choice, I can help onboard and train you or help you revive a lagging KO knowledge base.
            </p>
          </div>
          <a href="/knowledgeowl" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Learn more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>-->
      <div class="mx-auto mt-16">
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">
          <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
            <div class="relative overflow-hidden rounded-xl">
              <img
              src="/images/icons/light-bulb.png"
              class="w-32 transition duration-500 group-hover:scale-105"
              width="512"
              height="512"
              alt="light bulb illustration"
            />
            </div>
            <div class="mt-6 relative">
              <h3 class="text-2xl font-semibold text-gray-800 dark:text-white group-hover:text-primary group-hover:dark:text-sky-300">
                New docs
              </h3>
              <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                Organize and create a brand-new knowledge base, wiki, or documentation site.
              </p>
              <a href="/new-kb" class="text-gray-600 dark:text-gray-300 flex items-center justify-between group-hover:text-secondary">
                  <span class="text-sm">Learn more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
            </div>
            
          </div>
          <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
            <div class="relative overflow-hidden rounded-xl">
              <img
              src="/images/icons/frankenstein.png"
              class="w-32 transition duration-500 group-hover:scale-105"
              width="512"
              height="512"
              alt="frankenstein monster illustration"
            />
            </div>
            <div class="mt-6 relative">
              <h3 class="text-2xl font-semibold text-gray-800 dark:text-white group-hover:text-primary group-hover:dark:text-sky-300">
                Revamp
              </h3>
              <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                Audit, update, reorganize, or otherwise overhaul an existing knowledge source.
              </p>
              <a href="/revamp" class="text-gray-600 dark:text-gray-300 flex items-center justify-between group-hover:text-secondary">
                  <span class="text-sm">Learn more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
            </div>
            
          </div>
          <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
            <div class="relative overflow-hidden rounded-xl">
              <img
              src="/images/icons/startup.png"
              class="w-32 transition duration-500 group-hover:scale-105"
              width="512"
              height="512"
              alt="rocket launch illustration"
              />
            </div>
            <div class="mt-6 relative">
              <h3 class="text-2xl font-semibold text-gray-800 dark:text-white group-hover:text-primary group-hover:dark:text-sky-300">
                Docs launch
              </h3>
              <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                Get buy-in, roll out with style, and communicate along the way. Can pair with New or Revamp services.
              </p>
              <a href="/launch" class="text-gray-600 dark:text-gray-300 flex items-center justify-between group-hover:text-secondary">
                  <span class="text-sm">Learn more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
            </div>
            
          </div>
  
          <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
              <div class="relative overflow-hidden rounded-xl">
                  <img
                  src="/images/ko-linus-only.png"
                  class="w-28 transition duration-500 group-hover:scale-105"
                  width="512"
                  height="512"
                  alt="KnowledgeOwl logo"
                  />
              </div>
              <div class="mt-6 relative">
                <h3 class="text-2xl font-semibold text-gray-800 dark:text-white group-hover:text-primary group-hover:dark:text-sky-300">
                  KnowledgeOwl
                </h3>
                <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                  Create or audit a KnowledgeOwl knowledge base.
                </p>
                <a href="/knowledgeowl" class="text-gray-600 dark:text-gray-300 flex items-center justify-between group-hover:text-secondary">
                  <span class="text-sm">Learn more</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>                
                </a>
              </div>
              
            </div>
        </div>
          </div>
    </div>
  </Container>
</div>