---
import Container from "./Container.astro";

---
<div class="relative" id="about-kate">
    <Container>
        <div class="lg:w-2/3 mx-auto">
            <div class="flex justify-center">
                <img 
                class="rounded-full dark:border-slate-50 dark:border-2" 
                src="/images/kate-sm.jpg" 
                alt="Kate, a white woman with brown hair and glasses">
            </div>
            <div>
                <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
                    Kate Mueller (a.k.a. Sassafras), Owner
                </h2>
                <p class="text-gray-600 dark:text-gray-300">
                    I have a widely varied background: I have an M.A. in English 
                    and I spent several years teaching college-level writing.
                    Like many adjunct instructors, I got burnt out.
                    So I took a job in a temp call center for a broadcasting company.
                    That led me into Microsoft Access database design and my first technical writing.
                </p>
                <p class="text-gray-600 dark:text-gray-300 mt-8">
                    When I realized how much I enjoyed databases and software, I went back to school 
                    for an M.S. in Information Management.
                    From there, I worked in financial services and for several small- to mid-sized software companies.
                    Along the way, I've written technical documentation, manually tested software, done technical/product support, 
                    helped with content marketing, and sometimes managed product.
                </p>
                <p class="text-gray-600 dark:text-gray-300 mt-8">
                    My strengths lie in process-focused changes, 
                    creating a culture that prioritizes knowledge management and sharing, 
                    and an at-times brutal prioritization to make the most of limited resources.
                </p>
                <p class="text-gray-600 dark:text-gray-300 mt-8">
                    When I'm not doing knowledge work, I'm an avid hiker, cheese eater and maker, mushroom enthusiast, and amateur furniture-builder.
                </p>
            </div>
        </div>
    </Container>
</div>