---
import Container from "./Container.astro";

---
<div id="quick" class="mx-auto">
    <Container>
        <div>
            <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                    <div>
                        <img
                        src="/images/icons/fast-time.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="stopwatch illustration"
                        />
                    </div>
                    <div><h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">New KnowledgeOwl Coaching</h2></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300">Choose the number and topics of sessions that make sense for your KnowledgeOwl knowledge base. 
                    I'll walk you through the most common considerations, processes, best practices, and pitfalls and answer questions related to your use case.
                </p>
                <p class="pt-8 text-gray-600 dark:text-gray-300">
                    I'll also provide homework and templates to generate documents and plans to keep you organized and on-track.
                </p>
                <p class="pt-8 text-gray-600 dark:text-gray-300">
                    This Quick Coaching package is flexible. 
                    Choose a number of <span class="text-primary dark:text-sky-300">one-hour sessions</span> offering guidance on any of these topics:</p>
            </div>
            <div>
                <div
                class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center mx-auto"
                >
                    <div class="md:w-1/2 lg:w-1/2">
                        <div
                            class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                        >
                            <div class="mt-8 pb-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-rose-600 dark:text-rose-300">
                                        Feature Overview
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        We'll discuss your use case and goals and I'll talk you through the features and functionality that are the best fit for you.
                                        You'll receive a configuration checklist to get your knowledge base set up to these specs.
                                    </p>
                                </div>
                            </div>
                            <div class="py-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-indigo-600 dark:text-indigo-300">
                                        Training
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        I'll do one remote, hands-on training with up to ten people in your organization.
                                        I usually focus these on the content authoring and publishing processes but we can tailor this to the features you need.
                                        Have more than ten people? We can either record the session or do multiple sessions.
                                    </p>
                                </div>
                            </div>
                            <div class="py-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-fuchsia-600 dark:text-fuchsia-300">
                                        Sample Workflows
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        I'll walk up to ten people through some of the ways I've used KnowledgeOwl's features
                                        in my own workflows for content creation, review, publication, maintenance, auditing, and more. 
                                        We can tailor this based on the workflows you most care about.
                                    </p>
                                </div>
                            </div>
                            <div class="py-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-teal-600 dark:text-teal-300">
                                        Content
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        You'll leave this session with a list of existing knowledge sources 
                                        and the content types you'll work with. 
                                        Guided homework will help you identify Subject Matter Experts (SMEs), content hierarchy, 
                                        and metadata to enable your overall strategy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:w-1/2 lg:w-1/2">
                        <div
                            class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                        >
                            <div class="mt-8 pb-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-orange-600 dark:text-orange-300">
                                        Purpose
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        You'll leave this session with a good sense of your documentation's purpose and priorities.
                                        Guided homework will help you flesh out your timeline, requirements, and nice to haves.
                                    </p>
                                </div>
                            </div>
                            <div class="py-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-emerald-600 dark:text-emerald-300">
                                        Success
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        I'll walk up to ten people through some of the ways I've used KnowledgeOwl's features
                                        in my own workflows for content creation, review, publication, maintenance, auditing, and more. 
                                        We can tailor this based on the workflows you most care about.
                                    </p>
                                </div>
                            </div>
                            <div class="py-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-sky-600 dark:text-sky-300">
                                        Getting Buy-In
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        You'll leave this session with actionable strategies to generate internal enthusiasm, seek feedback, and pivot quickly.
                                        Guided homework will help you identify key stakeholders and champions and the key communication channels you'll use.
                                    </p>
                                </div>
                            </div>
                            <div class="py-4 flex gap-4 md:items-center">
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-amber-600 dark:text-amber-300">
                                        Communication & Engagement
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-400">
                                        You'll leave this session with a list of the key communication moments and methods you'll need for engaging your stakeholders and cultivating champions,
                                        whether that's asking for contributions, announcing your project launch to end-users, or talking to your higher-ups or colleagues about what you're doing.
                                        Guided homework includes templates to help you craft your communications.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="lg:w-3/4 mx-auto">
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Feature Overview</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        We'll discuss your use case and goals and I'll talk you through the features and functionality that are the best fit for you.
                        You'll receive a configuration checklist to get your knowledge base set up to these specs.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Training</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        I'll do one remote, hands-on training with up to ten people in your organization.
                        I usually focus these on the content authoring and publishing processes but we can tailor this to the features you need.
                        Have more than ten people? We can either record the session or do multiple sessions.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Sample Workflows</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        I'll walk up to ten people through some of the ways I've used KnowledgeOwl's features
                        in my own workflows for content creation, review, publication, maintenance, auditing, and more. 
                        We can tailor this based on the workflows you most care about.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Content</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with a list of existing knowledge sources 
                        and the content types you'll work with. 
                        Guided homework will help you identify Subject Matter Experts (SMEs), content hierarchy, and metadata to enable your overall strategy.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Purpose</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with a good sense of your documentation's purpose and priorities.
                        Guided homework will help you flesh out your timeline, requirements, and nice to haves.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Success</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        I'll walk up to ten people through some of the ways I've used KnowledgeOwl's features
                        in my own workflows for content creation, review, publication, maintenance, auditing, and more. 
                        We can tailor this based on the workflows you most care about.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Getting Buy-In</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with actionable strategies to generate internal enthusiasm, seek feedback, and pivot quickly.
                        Guided homework will help you identify key stakeholders and champions and the key communication channels you'll use.
                    </p>              
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Communication & Engagement</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with a list of the key communication moments and methods you'll need for engaging your stakeholders and cultivating champions,
                        whether that's asking for contributions, announcing your project launch to end-users, or talking to your higher-ups or colleagues about what you're doing.
                        Guided homework includes templates to help you craft your communications.
                    </p>-->
                    <h3 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300">$200 USD <span class="font-bold">per session</span></span></h3>
            </div>
        <div>
    </Container>
</div>