---
import Container from "./Container.astro";

---
<div id="ko-review" class="mx-auto">
    <Container>
        <div>
            <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                    <div>
                        <img
                        src="/images/icons/target.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="target illustration"
                        />
                    </div>
                    <div><h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">KnowledgeOwl Review</h2></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300">
                    If you've been using KnowledgeOwl for a while, you may have missed out on new feature releases 
                    or may feel constrained by decisions you made in your initial implementation. 
                    Leverage my expertise and experience to do a feature audit of your KnowledgeOwl knowledge base to identify places you could further optimize.
                </p>

                <p class="pt-8 text-gray-600 dark:text-gray-300">
                    This predefined package includes the following:</p>
                
                <div class="lg:w-3/4 mx-auto">
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Review Call</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        We'll spend roughly one hour discussing your knowledge base's purpose, audience, content, and history. 
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Written Evaluation</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        Once I have the context from our review call, I'll conduct an evaluation of your knowledge base. 
                        I'll generate a written evaluation of your knowledge base, which will include:</p>
                    <ul class="mt-2 list-disc list-inside text-gray-600 dark:text-gray-300 pl-2">
                        <li>A summary of your current knowledge base and configuration</li>
                        <li>Recommendations on feature-, settings-, or configuration-related changes you could implement to keep getting the most out of KO.</li>
                        <li>Links to relevant KnowledgeOwl Support documentation or resources.</li>
                    </ul>
                    <h3 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300">$250 USD per knowledge base</span></h3>
                </div>
            </div>
        <div>
    </Container>
</div>