---
import Container from "./Container.astro";

---
<div id="ko-review" class="mx-auto">
    <Container>
        <div>
            <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                    <div>
                        <img
                        src="/images/icons/inspection.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="inspection illustration"
                        />
                    </div>
                    <div><h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">KnowledgeOwl Theme Review</h2></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300">
                    If you've been using KnowledgeOwl for a while, you may be using an older theme without access to the latest theme features. 
                    Or maybe you inherited a heavily-customized theme and want help sifting through those customization to figure out what they're doing 
                    and whether you should keep them or say goodbye.
                </p>

                <p class="pt-8 text-gray-600 dark:text-gray-300">
                    Go beyond KnowledgeOwl's complimentary support and get help converting your theme to the latest and greatest with this predefined package:</p>
                
                <div class="lg:w-3/4 mx-auto">
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Review Call</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        We'll spend roughly one hour discussing your knowledge base's history and your existing theme, including what you like and would like to keep.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">New Knowledge Base Copy</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        Once I have the context from our review call, I'll create a copy of your knowledge base and update it to the latest theme, which may include: 
                    </p>
                    <ul class="mt-2 list-disc list-inside text-gray-600 dark:text-gray-300 pl-2">
                        <li>Removing existing script-based customizations so you can see what out-of-the-box looks like.</li>
                        <li>Updating the copy to the latest theme and feature set so you can have the latest bells and whistles, like category icons.</li>
                        <li>Ensuring you're using the latest merge codes so that new features and default text customizations work properly.</li>
                        <li>Porting your existing color palette and custom fonts into the new theme, if desired.</li>
                        <li>A written summary of questions, potential issues, or further possible changes you may want to make.</li>
                        <li>A list of prioritized next steps so you can continue to develop your theme, 
                            either with help from KnowledgeOwl's support owls, following Support Knowledge Base instructions, 
                            or working with your own developer or designer.</li>
                    </ul>


                    <h3 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300"><span class="line-through decoration-red-400 decoration-2">$500</span> $350 USD per knowledge base</span></h3>
                </div>
                <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
                    <div class="flex">
                      <div class="py-1">
                        <img
                        src="/images/icons/warning.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="exclamation point illustration"
                        />
                      </div>
                      <div class="ml-4">
                        <p class="font-bold">What's NOT included</p>
                        <p class="text-sm">This package does not include full custom theme builds, custom development, or advanced troubleshooting or rewriting of existing customizations.</p>
                      </div>
                    </div>
                  </div>
            </div>
        <div>
    </Container>
</div>