---
import Container from "./Container.astro";

---
<div id="full" class="mx-auto">
    <Container>
        <div>
            <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                    <div>
                        <img
                        src="/images/icons/help.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="clasped hands illustration"
                        />
                    </div>
                    <div><h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Full Coaching</h2></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300">With Full Coaching, you get a more hands-on approach tailored (and priced) for your needs.
                    We'll draft a custom Statement of Work (SOW) to cover the topics and processes you care about. 
                    I'll get to know your project and organization in detail and provide sessions and homework to get you where you want to be.
                </p>

                <p class="pt-8 text-gray-600 dark:text-gray-300">Sessions and deliverables in this Full Coaching package can include:</p>
            </div>
            <div
            class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center lg:w-3/4 mx-auto"
            >
                <div class="md:w-1/2 lg:w-1/2">
                    <div
                        class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                    >
                        <div class="mt-8 pb-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-rose-300"
                                >
                                    Information Architecture
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or define and test the content hierarchy for your new documentation.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
                                >
                                    Requirements
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or create a list of required features/functionality that you can use to evaluate docs tools/platforms.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-fuchsia-300"
                                >
                                    Content Strategy
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or define the content types in your docs, how you'll use them, and a prioritized plan for creating them.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-teal-300"
                                >
                                    Content Checklists
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or create checklists for things like content creation, publication, review, etc
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 lg:w-1/2">
                    <div
                        class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                    >
                        <div class="mt-8 pb-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-orange-300"
                                >
                                    Maintenance Strategy
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or define what metadata to add or track, content review processes, and content update processes.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-emerald-300"
                                >
                                    Implementation Plan
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or create a content creation and roll-out plan to take your KB live, with key milestones and phases of work defined.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-sky-300"
                                >
                                    Measurement Plan
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    We'll discuss and/or draft a list of metrics to help you track how things are going.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:w-3/4 mx-auto">
                <h3 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300">Varies based on deliverables, length of engagement, etc.</span></h3>
            </div>
        <div>
    </Container>
</div>