---
import Container from "./Container.astro";

---
<div id="quick" class="mx-auto">
    <Container>
        <div>
            <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                    <div>
                        <img
                        src="/images/icons/fast-time.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="stopwatch illustration"
                        />
                    </div>
                    <div><h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Quick Coaching</h2></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300">With Quick Coaching, you get a preset number of sessions on specific topics for a flat fee.
                    It's the most cost-effective form of coaching. 
                    I'll walk you through the most common considerations, processes, best practices, and pitfalls and answer questions related to your use case.
                </p>

                <p class="pt-8 text-gray-600 dark:text-gray-300">I'll also provide homework and templates to generate documents and plans to keep you organized and on-track.</p>

                <p class="pt-8 text-gray-600 dark:text-gray-300">This Quick Coaching package is <span class="text-primary dark:text-sky-300">three one-hour sessions</span> offering guidance on these topics:</p>
                
                <div class="lg:w-3/4 mx-auto">
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Purpose</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with a good sense of your documentation's purpose and priorities.
                        Guided homework will help you flesh out your timeline, requirements, and nice to haves.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Content</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with a list of existing knowledge sources 
                        and the content types you'll work with. 
                        Guided homework will help you identify Subject Matter Experts (SMEs), content hierarchy, and metadata to enable your overall strategy.
                    </p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Success</h3>
                    <p class="text-gray-600 dark:text-gray-300">You'll leave this session with a definition of what a successful implementation looks like and a preliminary list of measure to confirm you've achieved it. Guided homework will help you detail and finalize those measures.</p>
                    <h3 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300">$600 USD</span></h3>
                </div>
            </div>
        <div>
    </Container>
</div>