---
import Container from "./Container.astro";

---
<div id="quick" class="mx-auto">
    <Container>
        <div>
            <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                    <div>
                        <img
                        src="/images/icons/fast-time.png"
                        class="w-12 fill-white"
                        width="512"
                        height="512"
                        alt="stopwatch illustration"
                        />
                    </div>
                    <div><h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Quick Coaching</h2></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300">With Quick Coaching, you get a preset number of sessions on specific topics for a flat fee.
                    It's the most cost-effective form of coaching. 
                    I'll walk you through the most common considerations, processes, best practices, and pitfalls and answer questions related to your use case.
                </p>
                <p class="pt-8 text-gray-600 dark:text-gray-300">
                    I'll also provide homework and templates to generate documents and plans to keep you organized and on-track.
                </p>
                <p class="pt-8 text-gray-600 dark:text-gray-300">
                    This Quick Coaching package is <span class="text-primary dark:text-sky-300">three one-hour sessions</span> offering guidance on these topics:
                </p>
                
                <div class="lg:w-3/4 mx-auto">
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Content Audit</h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        You'll leave this session with a plan to conduct a comprehensive audit of your content to identify current needs and gaps within the content. Guided homework will help you classify current content into content types to determine if those types require additional audit processes.evaluate your tooling/platform to guarantee it's still a good fit and help you audit your current processes.</p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Needs Assessment</h3>
                    <p class="text-gray-600 dark:text-gray-300">You'll leave this session with a plan to assess your current needs and goals for your tooling/platform and your processes. Guided homework will help you evaluate your information architecture and tooling to determine if changes are needed.</p>
                    <h3 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Implementation</h3>
                    <p class="text-gray-600 dark:text-gray-300">You'll leave this session with a high-level phased plan to update and launch your changes. Guided homework will help you detail and begin your efforts.</p>
                    <h3 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300">$600 USD</span></h3>
                </div>
            </div>
        <div>
    </Container>
</div>