---
import Container from "./Container.astro";

---
<div id="solution" class="lg:w-1/2 mx-auto">

        <div id="blank-slate">
                <div class="my-8 flex flex-row place-content-start">
                  <div>
                    <img
                    src="/images/icons/light-bulb.png"
                    class="w-12 fill-white"
                    width="512"
                    height="512"
                    alt="lightbulb illustration"
                    />
                  </div>
                  <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Brand-new docs project</h3></div>
                </div>
                <p class="text-gray-600 dark:text-gray-300">You're creating a new knowledge base, maybe replacing old Word Docs/PDFs/emails, maybe starting from scratch. It's exciting but also a bit overwhelming: you know you're forgetting things or have a nagging feeling like you don't know the right questions to ask. Let me put those fears to rest and get you started out right!
              </p>
              <div class="lg:w-3/4 mx-auto">
                <div class="my-8 flex flex-row place-content-start">
                  <div>
                      <img
                      src="/images/icons/fast-time.png"
                      class="w-12 fill-white"
                      width="512"
                      height="512"
                      alt="stopwatch illustration"
                      />
                  </div>
                  <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Quick Coaching</h3></div>
                </div>
                
                <p class="text-gray-600 dark:text-gray-300"><span class="text-primary dark:text-sky-300">Three one-hour sessions</span> that offer general guidance on these topics:</p>
                    <h5 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Content</h5>
                    <p class="text-gray-600 dark:text-gray-300">Evaluate existing knowledge sources and Subject Matter Experts (SMEs) and define content hierarchy, types, metadata, and overall strategy.</p>
                    <h5 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Purpose</h5>
                    <p class="text-gray-600 dark:text-gray-300">Define your knowledge base's purpose, priorities, requirements, and nice to haves.</p>
                    <h5 class="mt-8 text-lg font-semibold text-gray-700 dark:text-white">Success</h5>
                    <p class="text-gray-600 dark:text-gray-300">Define what a successful implementation looks like and the measures to confirm you've achieved it.</p>
                    <h4 class="my-8 text-xl font-semibold text-gray-700 dark:text-white">Cost: <span class="text-gray-600 dark:text-gray-300">$600 USD</span></h4>

                <div class="my-8 flex flex-row place-content-start">
                  <div>
                      <img
                      src="/images/icons/help.png"
                      class="w-12 fill-white"
                      width="512"
                      height="512"
                      alt="clasped hands illustration"
                      />
                  </div>
                  <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Full Coaching</h3></div>
                </div>
                <p class="text-gray-600 dark:text-gray-300">A fully hands-on, more detailed coaching. We'll draft a custom Statement of Work (SOW) to cover the topics and processes you're interested. I'll get to know your project and organization in detail and support you as long and in as much detail as you want.
              </p>
            </div>
        <div>
    <div id="revamp">
        <div class="my-8 flex flex-row place-content-start">
            <div>
                <img
                src="./images/icons/frankenstein.png"
                class="w-12"
                width="512"
                height="512"
                alt="frankenstein illustration"
                />
            </div>
            <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Knowledge revamp</h3></div>
          </div>
          <p class="text-gray-600 dark:text-gray-300">Already have some documentation, but not loving it? Maybe it's become a monster, or it's wildly outdated, or you inherited it from someone else and you're just not sure where to begin. Let me make sure your project isn't just a flash in the pan and can survive the test of time. Let's reel it back in, refocus, redefine, and morph those docs into shape!
        </p>
    <div>

    <div id="launch">
        <div class="my-8 flex flex-row place-content-start">
            <div>
                <img
                src="./images/icons/startup.png"
                class="w-12"
                width="512"
                height="512"
                alt="rocket launch illustration"
                />
            </div>
            <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Documentation Launch</h3></div>
          </div>
          <p class="text-gray-600 dark:text-gray-300">Documentation sites aren't like Field of Dreams: just creating one and adding some content doesn't guarantee success. Let me help you get buy-in from within your organization, get others involved, communicate things out, and launch successfully rather than crashing in a fiery explosion of doom.
        </p>
    <div>

    <div id="knowledgeowl">
        <div class="my-8 flex flex-row place-content-start">
            <div>
                <img
                src="./images/ko-linus-only.png"
                class="w-12"
                width="512"
                height="512"
                alt="KnowledgeOwl logo"
                />
            </div>
            <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">KnowledgeOwl knowledge base</h3></div>
          </div>
          <p class="text-gray-600 dark:text-gray-300">I've worked with KnowledgeOwl for 6+ years. I know the product better than anyone other than the founders. If you're considering choosing KnowledgeOwl or have already chosen it as your tool of choice, I can help onboard and train you or help you revive a lagging KO knowledge base.
        </p>
    <div>
</div>