---
import Container from "./Container.astro"

---

<div id="features">
    <Container>
      <!--<div class="md:w-2/3 lg:w-2/3"> -->
      <div class="lg:w-2/3 mx-auto">
          <div class="my-8 flex flex-row place-content-start">
            <div>
                <img
                src="/images/icons/fast-time.png"
                class="w-12 fill-white"
                width="512"
                height="512"
                alt="stopwatch illustration"
                />
            </div>
            <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Quick Coaching</h3></div>
          </div>
          <p class="text-gray-600 dark:text-gray-300">Get a preset number of sessions on specific topics for a flat fee. The most cost-effective form of coaching. I'll walk you through the most common considerations, processes, best practices, and pitfalls and answer questions related to your use case.
        </p>
          <div class="my-8 flex flex-row place-content-start">
            <div>
                <img
                src="/images/icons/help.png"
                class="w-12 fill-white"
                width="512"
                height="512"
                alt="clasped hands illustration"
                />
            </div>
            <div><h3 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">Full Coaching</h3></div>
          </div>
          <p class="text-gray-600 dark:text-gray-300">A fully hands-on, more detailed coaching. After our discovery call, we'll draft a custom Statement of Work (SOW) to cover the topics and processes you're interested in. I'll get to know your project and organization in detail and support you as long and in as much detail as you want.
        </p>
      </div>
    </Container>
  </div>