---
import Container from "./Container.astro";
---

<div id="solution">
    <Container>
        <img
            src="/images/icons/confused.png"
            class="w-12"
            width="512"
            height="512"
            alt="confused illustration"
        />

        <div>
            <h2
                class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
            >
                Why choose coaching?
            </h2>
            <p class="my-8 text-gray-600 dark:text-gray-300">
                Writing documentation is, in many ways, the easy part of knowledge management.
                The hardest parts are all the external factors that can tank a perfectly good knowledge
                source. Coaching helps you avoid suffering from these common struggles:
            </p>
            <div
                class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
            >
                <div class="md:w-1/2 lg:w-1/2">
                    <div
                        class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                    >
                        <div class="mt-8 pb-4 flex gap-4 md:items-center">
                            <div
                                class="w-12 h-12 flex gap-4 rounded-full bg-amber-100 dark:bg-amber-900/20"
                            >
                                <img
                                    src="/images/icons/stale-food.png"
                                    class="w-12 dark:bg-white dark:rounded"
                                    width="512"
                                    height="512"
                                    alt="stale chicken leg illustration"
                                />
                            </div>
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-amber-300"
                                >
                                    Stale content
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    Without good processes, it's easy for
                                    content to become outdated quickly.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div
                                class="w-12 h-12 flex gap-4 rounded-full bg-orange-100 dark:bg-teal-orange/20"
                            >
                                <img
                                    src="/images/icons/loneliness.png"
                                    class="w-12"
                                    width="512"
                                    height="512"
                                    alt="a lonely person curled in a ball illustration"
                                />
                            </div>
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-orange-300"
                                >
                                    Lack of support
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    Whether you're a solo writer or your manager
                                    just doesn't see the value, it can often
                                    feel like you're on your own.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div
                                class="w-12 h-12 flex gap-4 rounded-full bg-sky-100 dark:bg-sky-900/20"
                            >
                                <img
                                    src="/images/icons/down.png"
                                    class="w-12"
                                    width="512"
                                    height="512"
                                    alt="down illustration"
                                />
                            </div>
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-sky-300"
                                >
                                    Momentum loss
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    The organization's enthusiasm and
                                    contributions to the project wane over time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 lg:w-1/2">
                    <div
                        class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800"
                    >
                        <div class="mt-8 pb-4 flex gap-4 md:items-center">
                            <div
                                class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
                            >
                                <img
                                    src="/images/icons/maze.png"
                                    class="w-12"
                                    width="512"
                                    height="512"
                                    alt="maze illustration"
                                />
                            </div>
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-teal-300"
                                >
                                    Unwieldy knowledge
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    Without a clear content strategy,
                                    your docs can grow so ungainly that
                                    they require massive audits and rebuilds far too soon.
                                </p>
                            </div>
                        </div>

                        <div class="py-4 flex gap-4 md:items-center">
                            <div
                                class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20"
                            >
                                <img
                                    src="/images/icons/headache.png"
                                    class="w-12 dark:bg-white dark:rounded"
                                    width="512"
                                    height="512"
                                    alt="headache illustration"
                                />
                            </div>
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
                                >
                                    Overwhelm
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    Inheriting a project or trying to compile
                                    one from scratch can make it hard to know
                                    where to start.
                                </p>
                            </div>
                        </div>
                        <div class="py-4 flex gap-4 md:items-center">
                            <div
                                class="w-12 h-12 flex gap-4 rounded-full bg-amber-100 dark:bg-amber-900/20"
                            >
                                <img
                                    src="/images/icons/hard-work.png"
                                    class="w-12 dark:bg-white dark:rounded"
                                    width="512"
                                    height="512"
                                    alt="man pushing a boulder up a mountain illustration"
                                />
                            </div>
                            <div class="w-5/6">
                                <h3
                                    class="font-semibold text-lg text-gray-700 dark:text-amber-300"
                                >
                                    Endless work
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">
                                    Any of these can make it feel like knowledge
                                    management is a neverending task.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
