---
import Container from "./Container.astro"

---

<div id="sass">
    <Container>
        <div class="lg:w-2/3 mx-auto">
            <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
                Why "<span class="text-primary dark:text-sky-300">with sass</span>"?
            </h2>
            <p class="text-gray-600 dark:text-gray-300">
                The title comes from two places:
            </p>
            <div>
                <h3 class="mt-8 font-bold text-gray-700 dark:text-white md:text-xl pl-8">
                    <span class="text-primary dark:text-sky-300">knowledge management</span> <span class="italic">(n)</span>:
                </h3>
                <p class="text-gray-600 dark:text-gray-300 pl-8">
                    the framework or process an organization uses to identify, store, organize, and share information
                </p>
            </div>
            <div>
                <h3 class="mt-8 font-bold text-gray-700 dark:text-white md:text-xl pl-8">
                    <span class="text-primary dark:text-sky-300">sass</span> <span class="italic">(n)</span>:
                </h3>
                <p class="text-gray-600 dark:text-gray-300 pl-8">
                    an appealingly exciting, lively, or spirited quality
                </p>
            </div>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                I've used a #withsass hashtag for a lot of my adventures: 
                #runnerwithsass, #triathletewithsass, #hikerwithsass. 
                When I hiked the entire Appalachian Trail in 2018, 
                my trail name became <span class="text-primary dark:text-sky-300">Sassafras</span>.
                I hiked with a lot of sass, so much so that some hikers told me they needed 
                "a little less sass, and a little more fras" from me.
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                This sassiness shows up in every area of my life. 
                But it's especially relevant to knowledge management, 
                which sometimes is viewed as a boring, dry, or "necessary" (but not fun) 
                area.
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                Good knowledge management can make your life easier, 
                your coworkers' lives easier, 
                your customers' lives easier.
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                It's the ultimate act of giving great service to yourself and others, 
                and--when done right--can free up everyone's time and resources to be spent on 
                more meaningful or useful pursuits.
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                <span class="font-bold">knowledge <span class="text-primary dark:text-sky-300">with sass</span></span> can make it far easier to 
                <span class="font-bold">live <span class="text-primary dark:text-sky-300">with sass</span></span>. And that's a goal I want to help everyone achieve.
            </p>
        </div>
    </Container>
</div>