---
import Container from "./Container.astro";

---
<div class="relative" id="about-zola">
    <Container>
        <div class="lg:w-2/3 mx-auto">
            <div class="flex justify-center">
                <img 
                    class="rounded-full dark:border-slate-50 dark:border-2" 
                    src="/images/zola-sm.jpg" 
                    alt="Zola, a brown and blonde husky mix, likes curled on a couch looking up at the camera"
                    >
            </div>
    
            <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
                Zola Batty McKoda, Chief Snooperviser Officer
            </h2>
            <p class="text-gray-600 dark:text-gray-300">
                I'm a rescued husky mix with cerebellar disease and permanent puppy antics. 
                At work, I meticulously snoopervise everything that happens at <span class="font-bold">knowledge <span class="text-primary dark:text-sky-300">with sass</span></span>. 
                I give freedom to my team without micro-managing, 
                and I'm the official maintainer of work-life balance. 
                I believe that most problems can be better solved after a quick walk outside 
                and a snack.
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                My strengths lie in my ability to keep calm under pressure,
                a laser-like focus on maintaining a consistent schedule, 
                and the ability to sniff out where problems and opportunities lie.
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-8">
                When I'm not doing knowledge work, I'm an avid hiker, cheese eater, and squeaky-toy killer.
            </p>
        </div>
    </Container>
</div>